/*In diesem Stylesheet ist das Aussehen der verschiedenen Buttons festgelegt*/

button {
  color: black;
  border: 6px solid white;
  border-radius: 50px;
  background-color:  lightgrey;
  text-align: center;
  font-style: normal;
  font-size: 30px;
}

#btn2 {
  color: white;
  border: 3px solid white;
  border-radius: 50px;
  background-color:  darkblue;
  text-align: center;
  font-style: normal;
  font-size: 20px;
}


#btn1 {


}
