/*In diesem Stylesheet ist das Aussehen von Elementen wie dem Background, der Überschrift, einiger Paragraphen und Co. festgelegt.*/

@import url("https://fonts.googleapis.com/css?family=VT323");

* {
  background-color: #1d1b24;  /*Hintergrundfarbe der Seite*/
  color: white;              /*Generelle Schriftfarbe */
  text-align: center;
  font-family:VT323;
}

#headline { /*Style der das Aussehen der Headline definiert*/
  color: white;
  border: 10px solid white;
  border-radius: 50px;
  background-color:  #1d1b24;
  text-align: center;
  font-style: normal;
  font-size: 140px;
  font-family: VT323;
}

#hauptblock { /*Definiert allgemeine Einstellungen für den Block in welchem die Paragraphen und Buttons erstellt werden */
  font-size: 35px;
}

#Placeholder1 {

}
